/* styles.css */
.chat-container {
    width: 100%;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
   .chat-container {
      width: 100%;
      padding: 20px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
   .chat-container {
      width: 80%;
      padding: 30px;
    }
  }
  
  @media (min-width: 1025px) {
   .chat-container {
      width: 60%;
      padding: 40px;
    }
  }